body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif; /* ou alguma fonte do Google Fonts */
    color: #0f0c0c;
    background-color: #ebebeb;
    background-image: url(/imgs/BZRR6169.jpg); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2, h3 {
    color: #070606;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    /* background: linear-gradient(235deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%); */
    color: #030202;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    color: rgb(35, 12, 169);
    margin-left: 15%;
}

nav {
    margin-right: 10%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: rgb(35, 12, 169);
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.projeto-item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;
}
.projeto-item:hover {
    transform: scale(1.05);
}

.contato {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contato ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
}

ul li {
    margin: 0 10px;
}


.projeto-item img {
    width: 100%;
    border-radius: 8px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 950px;
}

.card {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}

.card:hover {
    z-index: 2;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-info {
    opacity: 1;
}

.card:hover img {
    filter: brightness(0.5) blur(2px);
}

.card:nth-child(6) {
    z-index: 2;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 3;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    font-weight: 400;
}




footer {
    /* background: rgb(75,63,197); */
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 1px;

}

/* Consultas de mídia para telas menores */
@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    
}


